.sidebar {
  flex: 1.5;
  border-right: 0.5px solid rgb(235, 235, 235);
  min-height: 100vh;
  background-color: black;
  border-right: 1.5px solid rgb(33, 33, 33);
  // position: fixed;

  .top {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-left: 25px;
    // margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    border-bottom: 1.5px solid rgb(33, 33, 33);

    .username {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 0;
      padding: 0px;
    }

    .details {
      // margin-left: 10px;
      line-height: 20px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .avatar {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border-radius: 50%;
        // background-color: #797979;
        overflow: hidden;

        .img {
          /* Ensure the image takes up the entire space of the avatar div */
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
        }
      }
    }

    .email {
      font-size: 13px;
      padding: 0px;
      font-weight: 400;
      color: rgb(130, 130, 130);
    }

    .generate {
      border: none;
      padding: 7px 20px;
      border-radius: 6px;
      margin-top: 13px;
      font-size: 13px;
      font-weight: normal;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0);
      background-color: rgb(225, 161, 0);
      .icon2 {
        font-size: 18px;
        margin-right: 5px;
        color: rgb(0, 0, 0);
      }
    }
  }

  .line-top {
    border: 0.01px solid rgb(235, 235, 235);
    height: 0;
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: rgb(225, 161, 0);
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        margin-top: 8px;

        // &:hover {
        //   background-color: rgba(225, 161, 0, 0.185);
        // }

        .icon {
          font-size: 18px;
          color: rgb(130, 130, 130);
        }

        .red {
          color: rgb(225, 0, 0);
        }

        span {
          font-size: 14px;
          font-weight: 500;
          color: #797979;
          margin-left: 10px;
        }

        .navlink {
          text-decoration: none;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }

  .bottom {
    position: fixed;
    display: flex;
    align-items: center;
    // position: absolute;
    bottom: 0;
    margin: 10px;
    padding-left: 10px;

    // // &:hover {
    //   background-color: rgba(225, 161, 0, 0.185);
    // }

    .icon {
      font-size: 18px;
      color: rgb(225, 0, 0);
    }

    span {
      font-size: 15px;
      font-weight: 500;
      color: #888;
      margin-left: 10px;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
