.sidebar {
  flex: 1.5;
  border-right: 0.5px solid rgb(235, 235, 235);
  min-height: 100vh;
  background-color: white;

  .top {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;

    .username {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 0;
      padding: 0px;
    }

    .details {
      // margin-left: 10px;
      line-height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      .avatar {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: #797979;
      }
    }

    .email {
      font-size: 13px;
      padding: 0px;
      font-weight: 400;
    }

    .generate {
      border: none;
      padding: 6px 20px;
      border-radius: 6px;
      margin-top: 13px;
      font-size: 13px;
      font-weight: normal;
      display: flex;
      align-items: center;
      color: white;
      background-color: #999;

      .icon2 {
        font-size: 18px;
        margin-right: 5px;
        color: rgb(255, 255, 255);
      }
    }
  }

  hr {
    border: 0.5px solid rgb(235, 235, 235);
    height: 0;
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        margin-top: 8px;

        // &:hover {
        //   background-color: rgba(225, 161, 0, 0.185);
        // }

        .icon {
          font-size: 18px;
          color: rgb(225, 161, 0);
        }

        .red {
          color: rgb(225, 0, 0);
        }

        span {
          font-size: 15px;
          font-weight: 500;
          color: #797979;
          margin-left: 10px;
        }

        .navlink {
          text-decoration: none;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }

  .bottom {
    position: fixed;
    display: flex;
    align-items: center;
    // position: absolute;
    bottom: 0;
    margin: 10px;
    padding-left: 10px;

    // // &:hover {
    //   background-color: rgba(225, 161, 0, 0.185);
    // }

    .icon {
      font-size: 18px;
      color: rgb(225, 0, 0);
    }

    span {
      font-size: 15px;
      font-weight: 500;
      color: #888;
      margin-left: 10px;
    }
  }
}
